<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847807334232-7ci065u25ejgk4leup4mkh7uthv4mu6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847807334232-7ci065u25ejgk4leup4mkh7uthv4mu6r</string>
	<key>API_KEY</key>
	<string>AIzaSyBEsY1DuoRQwFOrS6asHWkAuHrNTHaPjwU</string>
	<key>GCM_SENDER_ID</key>
	<string>847807334232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taccetta.teledoctor</string>
	<key>PROJECT_ID</key>
	<string>teledoctor-base</string>
	<key>STORAGE_BUCKET</key>
	<string>teledoctor-base.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847807334232:ios:64fc04a6b4e7261fb0472d</string>
</dict>
</plist>